*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}
.landingPageContainer{
  width: 100vw;
  height: 100vh;
  /* background: url(../public/bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.landingPageContainer nav{
  padding-inline: 6rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landingPageContainer nav h2{
  font-size: 2rem;
  font-weight: 500;
}
.landingPageContainer nav .navList{
  display: flex;
  gap: 2rem;
  cursor: pointer;
  align-items: center;
}
.navList div[role='button']{
  padding: 0.8rem 1.6rem;
  background-color: orange;
  color: white;
  border-radius: 0.4rem;
} 
.landingPageContainer .mainContent{
  display: flex;
  align-items: center;
  padding-block: 1.6rem;
}
.landingPageContainer .mainContent .mainLeft{
  width: 50vw;
  padding-left: 6rem;
}
.landingPageContainer .mainContent .mainLeft h2{
 font-size: 3rem;
 line-height: 4rem;
}
.landingPageContainer .mainContent .mainLeft h2 span{
  color: orange;
}
.landingPageContainer .mainContent .mainLeft p{
  line-height: 2rem;
}
.landingPageContainer .mainContent .mainLeft div{
  padding-block: 1.6rem;
  cursor: pointer;
}
.mainLeft div a{
  padding: 0.8rem 1.6rem;
  background-color: orange;
  color: white;
  border-radius: 0.4rem;
}
.landingPageContainer .mainContent .mainRight img{
  height: 500px;
}
